
@media screen and (min-width: 480px) and (max-width: 960px) { } 
@media screen and (orientation: landscape) { } 


header{
	text-align: center;
}
footer{
	text-align: center;
}

@media (max-width: 980px) { 

  .titulo{   font-size: 2em !important;  } 
 
 .subtitulo{   font-size: 1em !important;  } } 
 
@media (max-width: 480px) {  .titulo{   font-size: 1.6em !important;  } 
 
 .subtitulo{   font-size: 1em !important;  } 
 
 .marketing-img {      min-width: 300px;  } } 

 * {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 2px solid #CBBECA;
        background-color: rgb(59, 104, 130);
        border-radius: 5px;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-left: -2px;
  margin-right: 2em;
}
.mail-icon {
  text-indent: -99999em;
  overflow: hidden;
  text-align: left;
  background-image: url("/imagenes/git.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.card{
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media only screen and (min-width: 500px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }  
}
@media only screen and (min-width: 850px) {
  .card{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card strong {
  padding: 20px;
  background-color: aqua;
  border-radius: 10%;
}
  
/* typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
 
.card p { 
  line-height: 1.4;
}
 
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}
/* animacion 1 */
.VelozIn  {
  
  font-family: Arial;
  margin: 100px 200px;
  font-size: 40px;
  
}
.VelozIn {
 
  animation: VelozIn 1s infinite;

}
/* Creamos la animación (con keyframes) */

@keyframes VelozIn {
 
  0% {
    opacity: 0;
    transform: translateX(-100vw) skewX(70deg);
  }
    
  60% {
    opacity: 1;
    transform: skewX(-20deg);
    
  }
  
  80% {
    transform: skewX(15deg);
  }
  
}

a{ background: lightgrey; color: grey;}
a:hover{ background: yellow; color: red;}
a.with-transition{ transition: 5s;}

.card{
  
  background-color: #ff0000;
  transition-property: background-color, border-radius;
  transition-duration: 3s;
}
.card:hover {
  background-color: #0000ff;
  border-radius: 75px;
} 


 .card{
  background-color: #ff0000;
  transition: transform 1s ease-out;
}
.card:hover {
  transform: rotate(360deg);
} 
*{
  color: olivedrab;
}
